.home {
  width: 80%;
  margin: auto;
  margin-block: 2rem;
  > .search_region_components {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
}

.search {
  position: relative;
  > i {
    position: absolute;
    left: 15px;
    bottom: 13px;
  }
  > input {
    padding: 0.8rem 1rem 0.8rem 3rem;
    border: none;
    box-shadow: 2px 2px 4px lightgray, -2px -2px 4px lightgray !important;
  }
}

#regions {
  padding: 0.5rem;
  margin-bottom: 0.2rem;
}

@media screen and (max-width: 375px) {
  .search_region_components {
    flex-direction: column;
    gap: 3rem;
    .regions {
      display: flex;
      justify-content: center;
    }
  }
  .search {
    align-self: center;
  }
  input {
    align-self: center;
  }
}
